.PortFolio {
  /* Add styles for the portfolio section container */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 15px;
}

.PortFolio h2 {
  /* Styles for the section heading */
  width: 100%;
  margin-left: 10px;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
  margin-bottom: 3rem!important;
}

.application {
  /* Add styles for each application container */
/*   width: calc(50% - 10px); 
  margin-bottom: 20px; 
  flex-direction: column;
  align-items: center;
  position: relative; */
  width: calc(50% - 10px); 
  position: relative;
  margin-right: 0;
  margin-bottom: 20px;
}

.application h3 {
  /* Add styles for the application title */
  text-align: center; /* Center the title */
  margin-bottom: 10px; 
  color: white; /* Set the color of the title text */
  background-color: #db935c; /* Set the background color of the title container */
  padding: 5px 10px; 
  width: auto; 
  position: absolute; /* Set the position to absolute for positioning on top of the image */
  bottom: 10px; /* Position the title container at the bottom of the image */
  left: 0; 
  transform: translateY(-50%); 
  z-index: 1; /* Set a higher z-index to place the title container above the image */
}

.application h3:hover {
  /* Apply the hover effect to the title */
  background-color: #cd5a02; /* Change the background color on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}

.application img {
  /* Add styles for the application image */
  width: 100%; /* Ensure the image takes the full width of the container */
  max-width: 500px; /* Set a maximum width for the image */
  height: 300px; /* Set a fixed height for all images */
  object-fit: cover; /* Maintain aspect ratio and crop the image if needed */
  z-index: 0; 
  transition: transform 0.3s ease; /* Add a transition for smooth effect */
}

.application img:hover {
  /* Apply the hover effect to the image */
  transform: scale(1.1); /* Increase the size of the image on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}

.application a.github-link:hover {
  /* Apply the hover effect to the GitHub link */
  color: #cd5a02; /* Change the link color on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Show the sidebar only on bigger devices greater than 768px */
@media only screen and (min-width: 768px) {
  .PortFolio {
    flex-wrap: wrap; /* Allow items to wrap to a new row */
    justify-content: space-between; /* Distribute items evenly with space between */
  }
  .application {
    width: calc(50% - 10px); /* Set the width to 50% of the container minus some margin */
    margin-right: 0; /* Remove the margin between applications */
    margin-bottom: 20px; /* Add some margin between rows */
  }
  .application img {
      max-width: 100%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } 
}



