/* SideBar.css */

  /* styling sidebar container*/
.SidebarItem{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-image: linear-gradient(to right, #DB935C, #DB935C);
    padding: 20px;
    padding-top: 10rem;
    /* Hide the sidebar by default on mobile devices */
    @media (max-width: 768px) {
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
  }
  
 
  /* styling each item in the sidebar */
  .SidebarItem a{
   
    margin-bottom: 50px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
  }

   /* styling each item in the sidebar on hover*/
  .SidebarItem a:hover {
    background-color: #ddd;
    color: black;
}
  
  
  
  
  