.text-color {
  
  color: #557A95 !important;
  
}
 /* Adding aboutme section styling */
.AboutMe {
  padding-top: 10rem;
  padding-bottom: 5rem !important;
  padding-left: 1rem;
  padding-right: 0.5rem;
}
 /*Name heading */
.AboutMe h1 {
  margin: auto;
  font-size: 5rem;
  line-height: 5.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #404245;
}

.AboutMe p {
  padding-top: 2rem;
  color: #787f87;
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 1rem;
}
.AboutMe h3 {
  color: #6f7278;
}

.AboutMe h3 a {
  color: #7395AE;
  text-decoration: none;
}

.AboutMe h3 a:hover {
  color: #486c86;  /* Change the background color on hover */
}

.list-inline {
  list-style: none;
  /* Remove the bullet points from the list items */
}

.list-inline-item {
  padding-top: 5rem;
  display: inline-block;  /* Display the list items inline */
}

.icon-circle {
  width: 50px;
  height: 50px;
  background-color: #6f7278;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  /* Add a transition for smooth effect on hover */
}

.icon-circle:hover {
  background-color: #5783a2;
  /* Change the background color on hover */
}
 
.icon {
  color: white;
  font-size: 30px;
}